<main class="participatory-space__container">
  <%= announcement = render(partial: "decidim/shared/component_announcement") %>

  <%= append_stylesheet_pack_tag "decidim_iframe" %>

  <section id="<%= viewport_width? ? "iframe-block" : "html-block-html" %>" class="iframe layout-main__section">
    <%= iframe %>
  </section>
</main>
